<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div style="height: 100vh;" >
            <div style=" display: flex; justify-content: center;">
                <h1>Welcome to Xena Vermont</h1>
            </div>

            <div style=" display: flex; justify-content: center;">
                <img style="width: 50%; height: auto" src="https://i.postimg.cc/1z5Gz6CJ/berserk-eclipse-berserk-femto.gif" alt="">
            </div>
        </div>
    </section>
</body>
</html>